body {
	padding: 30px;
	background-image: url('../images/skullmask.jpg');
}

.navbar {
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 20px #D0D0D0;
}

.cmd{
	margin-top: 40px;
}

.jumbopacity{
	text-align:justify;
	opacity:0.3;
	-webkit-box-shadow: 0 0 60px #D0D0D0;
}

.inclusion{
	font-size: 12px;
}

.imgcent{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: block;
}

.swfalign{
	text-align: center;
}

.inventory{
	text-align: center;
}